.venv/
media/
__pycache__/
*.log

# Video files
*.mp4
*.mov
*.mkv
*.avi

# Audio files
*.wav
*.mp3
*.m4a

# Other local folders
venv/
.ipynb_checkpoints/
.DS_Store

# Local output folders inside proofs
اثبات-های-ریاضی/*/output/

# Rendered final outputs
outputs/
